//font-colors
$brightBlue: hsl(220, 98%, 61%);
//Light Themes
$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);
$lightGrayishBlue1: hsl(233, 11%, 84%);
$darkGrayishBlue1: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);
//Dark Themes
$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishBlue2: hsl(234, 39%, 85%);
$lightGrayishBlue3: hsl(236, 33%, 92%); //(hover)
$darkGrayishBlue2: hsl(234, 11%, 52%);
$veryDarkGrayishBlue1: hsl(233, 14%, 35%);
$veryDarkGrayishBlue2: hsl(237, 14%, 26%);


$border: linear-gradient(to right, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
//Font Sizes
$font-xsm: 0.6875rem; //11px
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; //18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem; //
